#form{
    background-color: #1E1E1E;
    padding: 2rem 0 2rem 0;
}

/*FORMULARIO*/
.titulo-form{
    font-size: clamp(20px + 1.5vw, 0.3043rem + 2.8vw, 42px);
    text-align: center;
}

#form .container-form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: .8rem;
}

.container-form input, .container-form select, .container-form select option{
    width: 80%;
    max-width: 300px;
    height: 30px;
    border-radius: 20px;
    color: #1E1E1E;
    padding: .8rem;
    font-size: 13px;
}

.container-form button{
    font-size: 12px;
    color: #1E1E1E;
    padding: 5px 15px 5px 15px;
    border-radius: 15px;
    margin-top: 1rem;
    cursor: pointer;
}

.container-form select{
    padding: unset;
    padding-left: .8rem;
}
